In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
testset = pd.read_csv("data/test_set_VU_DM.csv")

In [3]:
df = pd.read_csv("data/training_set_VU_DM.csv")
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,...,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,...,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,...,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [4]:
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [4]:
def extract_time(df):
    # month, week, day of the week and hour of search
    df_datetime = pd.DatetimeIndex(df.date_time)
#     df["month"] = df_datetime.month
#     df["week"] = df_datetime.week
    df["day"] = df_datetime.dayofweek + 1
    df["hour"] = df_datetime.hour
    del df['date_time']
#     df.drop("date_time", inplace=True)

In [5]:
def remove_missing_values(df):
    missing_values = df.isna().mean().round(4) * 100
    missing_values = pd.DataFrame(missing_values).reset_index()
    missing_values.columns = ["column", "missing"]
    # filter where there are missing values
    missing_values.query("missing > 50", inplace=True)  # remove columns with more than 50 % of missing values
    missing_values.sort_values("missing", inplace=True)
    #print(missing_values)
    df.drop(missing_values.column, axis=1, inplace=True)

In [6]:
def replace_missing_values(df):
    df.fillna(value=-1, inplace=True)

In [7]:
def new_historical_price(df):
    df["prop_historical_price"] = (np.e ** df["prop_log_historical_price"]).replace(1.0, 10000)
    df.drop(missing_values.prop_log_historical_price, axis=1, inplace=True)

In [8]:
remove_missing_values(df)
replace_missing_values(df)
# new_historical_price(df)
extract_time(df)
df.describe()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,day,hour
count,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,...,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,1.739739e+02,7.007918e+04,3.180525e+00,3.770681e+00,6.346994e-01,2.872589e+00,-1.181882e-01,...,1.972637e+00,3.504918e-01,1.110525e+00,5.022127e-01,8.789749e+02,2.959004e-01,4.474858e-02,2.791051e-02,3.824736e+00,1.370044e+01
std,9.611223e+04,7.646890e+00,6.591625e+01,6.834525e+01,4.060992e+04,1.051024e+00,1.065553e+00,4.815144e-01,1.531011e+00,4.889088e-01,...,8.570628e-01,7.325692e-01,4.172290e-01,4.999952e-01,1.771913e+03,4.564465e-01,2.067514e-01,1.647165e-01,1.980819e+00,5.419670e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,...,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,1.790000e+00,1.400000e-03,...,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+01
50%,1.665070e+05,5.000000e+00,2.190000e+02,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,2.770000e+00,3.550000e-02,...,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.466200e+02,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,1.400000e+01
75%,2.497240e+05,1.400000e+01,2.190000e+02,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,4.040000e+00,1.373000e-01,...,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,8.004300e+02,1.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.800000e+01
max,3.327850e+05,3.400000e+01,2.310000e+02,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,6.980000e+00,1.000000e+00,...,9.000000e+00,9.000000e+00,8.000000e+00,1.000000e+00,1.166664e+04,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00,2.300000e+01

In [9]:
# one hot encoding of day?

In [10]:
def sample_on_srch_id(df, frac = 0.1):
    """
    samples the dataframe based on the fraction of srach_id
    """
    # get unique srch_ids
    srch_ids = np.unique(df.srch_id)
    # calculate how many ids to return
    chosen_k = int(len(srch_ids) * frac)
    # sample ids
    chosen_ids = random.sample(list(srch_ids), k = chosen_k)
    # filter the df to only have sampled ids
    return df[df['srch_id'].isin(chosen_ids)]

### Feature Engineering --------------------------

## missing data ----------------------------------

# deal with missing values here

## new features ----------------------------------

def add_price_position(df, rank_type = "dense"):
    """
    adds hotel price position ("price_position") inside "srch_id" column
    """
    ranks = df.groupby('srch_id')['price_usd'].rank(ascending=True, method = rank_type)
    df["price_position"] = ranks


def average_numerical_features(df, group_by = ["prop_id"], columns = ["prop_starrating", "prop_review_score", "prop_location_score1", "prop_location_score2"]):
    """
    adds mean, median and standard deviation per prop_id (default) 
    for columns that are related to property (default)
    """
    # caulcate means and rename columns
    means = df.groupby(group_by)[columns].mean().reset_index()
    means.columns = [means.columns[0]] + [x + "_mean" for x in means.columns[1:]]
    # caulcate median and rename columns
    median = df.groupby(group_by)[columns].median().reset_index()
    medians.columns = [medians.columns[0]] + [x + "_median" for x in medians.columns[1:]]
    # caulcate means and rename columns
    stds = df.groupby(group_by)[columns].std().reset_index()
    stds.columns = [stds.columns[0]] + [x + "_std" for x in stds.columns[1:]]
    ## attach aggregated data to the df

    
    
## other

def remove_weird_positions(df, positions = [5, 11, 17, 23]):
    """
    removes hotels with specified positions 
    (based on the fact that hotels in those positions were not as booked)
    """
    df = df[df["position"].isin(positions) == False]

In [11]:
add_price_position(df, rank_type = "dense")

In [12]:
remove_weird_positions(df, positions = [5, 11, 17, 23])

In [13]:
average_numerical_features(df, group_by = ["prop_id"], columns = ["prop_starrating", "prop_review_score", "prop_location_score1", "prop_location_score2"])

NameError: name 'medians' is not defined

In [14]:
import random

sample = sample_on_srch_id(df, frac = 0.05)

In [15]:
len(sample)

248867

In [16]:
def sort_list(df):
    
    """
    Sort on search query ID and create a list of occurences per search query
    """
    
    df = df.sort_values(by=['srch_id'])

    # for XGboost write to train.txt.group
    
    return df.srch_id.value_counts(sort=False)

#     with open("train.txt.group", "w") as file:
#         file.write(df.srch_id.value_counts(sort=False).to_string(header = False, index = False))

In [17]:
df.tail()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,day,hour,price_position
4958342,332785,5,219,219,77700,3,4.0,1,1.61,0.0471,...,0,1,0,550.92,0,0,0,7,19,5.0
4958343,332785,5,219,219,88083,3,4.0,1,1.95,0.1520,...,0,1,0,553.14,0,0,0,7,19,2.0
4958344,332785,5,219,219,94508,3,3.5,1,1.10,0.0164,...,0,1,0,544.43,0,0,0,7,19,3.0
4958345,332785,5,219,219,128360,3,5.0,1,1.95,0.0662,...,0,1,0,550.38,0,1,1,7,19,6.0
4958346,332785,5,219,219,134949,3,2.5,1,1.10,-1.0000,...,0,1,0,583.25,0,0,0,7,19,1.0

In [18]:
sort_list(sample)

301075    12
317467    33
81960     33
104499    19
122940    18
          ..
311272    10
34799      6
20470     31
12282     29
272379     5
Name: srch_id, Length: 9989, dtype: int64

In [19]:
df.tail()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,day,hour,price_position
4958342,332785,5,219,219,77700,3,4.0,1,1.61,0.0471,...,0,1,0,550.92,0,0,0,7,19,5.0
4958343,332785,5,219,219,88083,3,4.0,1,1.95,0.1520,...,0,1,0,553.14,0,0,0,7,19,2.0
4958344,332785,5,219,219,94508,3,3.5,1,1.10,0.0164,...,0,1,0,544.43,0,0,0,7,19,3.0
4958345,332785,5,219,219,128360,3,5.0,1,1.95,0.0662,...,0,1,0,550.38,0,1,1,7,19,6.0
4958346,332785,5,219,219,134949,3,2.5,1,1.10,-1.0000,...,0,1,0,583.25,0,0,0,7,19,1.0

In [20]:
# for XGboost write to train.txt.group

with open("train.txt.group", "w") as file:
    file.write(df.srch_id.value_counts(sort=False).to_string(header = False, index = False))

In [21]:
len(sample.srch_id.unique())

9989

How are we going to eliminate the bias of the position?

In [22]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'orig_destination_distance', 'random_bool',
       'click_bool', 'booking_bool', 'day', 'hour', 'price_position'],
      dtype='object')

In [23]:
testset.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff'],
      dtype='object')

In [24]:
x = set(df.srch_id) - set(testset.srch_id)
y = set(testset.srch_id) - set(df.srch_id)
print(len(x), len(y))

79881 79635

In [25]:
len(set(df.srch_id).intersection(set(testset.srch_id)))

119914

In [26]:
df.srch_id

0               1
1               1
2               1
3               1
4               1
            ...
4958342    332785
4958343    332785
4958344    332785
4958345    332785
4958346    332785
Name: srch_id, Length: 4958347, dtype: int64

In [27]:
testset.srch_id[:50]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    3
30    3
31    3
32    3
33    3
34    3
35    3
36    3
37    3
38    3
39    3
40    3
41    3
42    3
43    3
44    3
45    3
46    3
47    3
48    3
49    3
Name: srch_id, dtype: int64

In [28]:
len(df)

4958347

In [29]:
df.booking_bool.sum()

138390

In [30]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'orig_destination_distance', 'random_bool',
       'click_bool', 'booking_bool', 'day', 'hour', 'price_position'],
      dtype='object')

In [31]:
ids = df.visitor_location_country_id.unique()
ids.sort()
ids

array([  1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  25,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  44,  45,  46,  47,  48,  50,  51,  52,  53,  54,  55,  56,
        57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  73,  74,  76,  77,  78,  79,  80,  81,  82,  83,
        84,  85,  86,  87,  88,  90,  91,  92,  93,  94,  95,  97,  98,
        99, 100, 101, 102, 103, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 120, 121, 122, 123, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       142, 145, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 160, 161, 162, 163, 164, 166, 167, 168, 169, 170, 172, 173,
       174, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187,
       188, 189, 190, 191, 193, 194, 195, 196, 198, 199, 200, 201, 202,
       203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215,
       216, 217, 218, 219, 220, 221, 222, 223, 224, 226, 227, 228, 229,
       230, 231])

In [32]:
testset.visitor_location_country_id.isnull().sum()

0

How are we going to eliminate the bias of the position

#### Train-test-split

Sample on srch_id first

### XGboost

In [33]:
# extra imports
import xgboost as xgb
from xgboost import DMatrix
from tqdm.notebook import tqdm, trange
from sklearn.model_selection import GroupShuffleSplit

Note:

According to the XGBoost documentation, XGboost expects:

the examples of a same group to be consecutive examples,
a list with the size of each group (which you can set with set_group method of DMatrix in Python).

XGBoost requires an file that indicates the group information. For example, if the instance file is the train.txt shown above, the group file should be named train.txt.group and be of the following format:

train.txt.group
2
3
This means that, the data set contains 5 instances, and the first two instances are in a group and the other three are in another group. The numbers in the group file are actually indicating the number of instances in each group in the instance file in order. At the time of configuration, you do not have to indicate the path of the group file. If the instance file name is xxx, XGBoost will check whether there is a file named xxx.group in the same directory.

In [34]:
# Load pd dataframe into Dmatrix
# Saving DMatrix into a XGBoost binary file will make loading faster
# Make sure you created the file beforehand

label = df.booking_bool
dtrain = DMatrix(df, label=label)
dtrain.save_binary('train.buffer')

In [35]:
# write group thing.

sort_list(sample)
dtrain.set_group('train.txt.group')

TypeError: ('Unsupported type for group', "<class 'str'>")

In [36]:
# split sample in 80 percent training and 20 percent test by srch_id

gss = GroupShuffleSplit(test_size=.20, n_splits=1, random_state = 7).split(sample, groups=sample['srch_id'])
X_train_inds, X_test_inds = next(gss)

In [37]:
X_test_inds[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [38]:
# copied from internet

train_data= df.iloc[X_train_inds]
X_train = train_data.loc[:, ~train_data.columns.isin(['srch_id','booking_bool'])]
y_train = train_data.loc[:, train_data.columns.isin(['booking_bool'])]

test_data= df.iloc[X_test_inds]

#We need to keep the id for later predictions
X_test = test_data.loc[:, ~test_data.columns.isin(['booking_bool'])]
y_test = test_data.loc[:, test_data.columns.isin(['booking_bool'])]

# create sample split_on_id function

model = xgb.XGBRanker(  
    tree_method='gpu_hist',
    booster='gbtree',
    objective='rank:pairwise',
    random_state=42, 
    learning_rate=0.1,
    colsample_bytree=0.9, 
    eta=0.05, 
    max_depth=6, 
    n_estimators=110, 
    subsample=0.75 
    )

model.fit(X_train, y_train, group=groups, verbose=True)

NameError: name 'groups' is not defined

In [ ]:
# Model 

train_dmatrix = DMatrix(train_sample, label=label)
test_dmatrix = DMatrix(test_sample, label=label)

# set the groups!
train_dmatrix.set_group(sort_list(train_sample))
test_dmatrix.set_group(sort_list(test_sample))

params = {'objective': 'rank:ndcg', 'eta':0.05}
model = xgb.train(param, dtrain, num_round)

In [ ]:
# Setting initial Parameters

param = {'max_depth': 2, 'eta': 1, 'objective': 'rank:ndcg'}
param['nthread'] = 4
param['eval_metric'] = 'auc'

# evaluation metrics

param['eval_metric'] = ['auc', 'ams@0']

# alternatively:
# plst = param.items()
# plst += [('eval_metric', 'ams@0')]

Validation set

evallist = [(dtest, 'eval'), (dtrain, 'train')]

In [ ]:
num_round = 1
bst = xgb.train(param, dtrain, num_round)